<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/profile-layout}">
<head>
    <title th:text="#{profile.profile.title}"></title>
</head>
<body>


    <th:block layout:fragment="section">
        <section class="profile-section">
            <h2 class="profile-section__title" th:text="#{profile.section.profile.title}"></h2>
            <div class="profile-section__field" th:text="|#{profile.section.profile.login}${user.login}|"></div>
            <div class="profile-section__field" th:text="|#{profile.section.profile.email}${user.email}|"></div>
            <div class="profile-section__field" th:text="|#{profile.section.profile.firstName}${user.firstName}|"></div>
            <div class="profile-section__field" th:text="|#{profile.section.profile.lastName}${user.lastName}|"></div>
            <div class="profile-section__field"
                 th:text="#{profile.section.profile.type} + (${user.hasRole('ADMIN')}? #{account.type.admin}: (${user.hasRole('SELLER')}? #{account.type.seller}: #{account.type.buyer}))"></div>

            <form th:action="@{/profile/fullNameChange}" method="post" th:object="${fullNameChangeForm}"
                  class="profile-section__form">
                <div class="profile-section__input-wrapper">
                    <label class="profile-section__label">
                        <th:block th:text="#{profile.section.profile.firstName}"/>
                        <input type="text" name="firstName" th:value="${user.firstName}"></label>
                    <span class="profile-section__error" th:errors="*{firstName}"></span>
                </div>
                <div class="profile-section__input-wrapper">
                    <label class="profile-section__label">
                        <th:block th:text="#{profile.section.profile.lastName}"/>
                        <input type="text" name="lastName" th:value="${user.lastName}"></label>
                    <span class="profile-section__error" th:errors="*{lastName}"></span>
                </div>
                <button class="button profile-section__button" th:text="#{profile.section.profile.button}"></button>
            </form>

            <form th:action="@{/profile/passwordChange}" method="post" th:object="${passwordChangeForm}"
                  class="profile-section__form">
                <div class="profile-section__input-wrapper">
                    <label class="profile-section__label">
                        <th:block th:text="#{profile.section.profile.currentPassword}"/>
                        <input type="password" name="currentPassword"></label>
                    <span class="profile-section__error" th:errors="*{currentPassword}"></span>
                    <span class="profile-section__error" th:text="${errorChangePassword}"></span>
                </div>
                <div class="profile-section__input-wrapper">
                    <label class="profile-section__label">
                        <th:block th:text="#{profile.section.profile.newPassword}"/>
                        <input type="password" name="newPassword"></label>
                    <span class="profile-section__error" th:errors="*{newPassword}"></span>
                </div>
                <button class="button profile-section__button" th:text="#{profile.section.profile.button}"></button>
            </form>
        </section>
        <!-- /.profile-section -->
    </th:block>


</body>
</html>