<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main-layout}">
<head>
    <link rel="stylesheet" href="../css/catalog.css">
    <link rel="stylesheet" href="../css/catalog_media.css">
    <title th:text="#{catalog.title}"></title>
</head>
<body>
    <th:block layout:fragment="main">
        <div class="container">

            <div class="catalog-nav">
                <div class="catalog-list-categories">
                    <input id="checkboxBtn" class="checkboxBtn" type="checkbox">
                    <label for="checkboxBtn" class="labelBtn"></label>
                    <a class="button catalog__btn">
                        <svg class="catalog-icon button-icon">
                            <use th:href="@{/img/icons/icons.svg#arrow-down}"></use>
                        </svg>
                        <th:block  th:text="#{catalog.button.catalog}"></th:block>
                        </a>

                    <ul th:with="langCategory=(__${#locale}__=='en'?'en':'ru') + 'Category'" class="list-categories">

                        <th:block th:each="category : ${catalog.subCategories}">

                            <li class="category" th:unless="${#lists.isEmpty(category.subCategories)}">
                                <input th:id="|category_${category.categoryId}|" class="checkboxCategory"
                                       type="checkbox">
                                <a class="category__link category__link--main"
                                   th:href="@{/catalog/__${category.enCategory.toLowerCase()}__}"
                                   th:text="${category['__${langCategory}__']}"></a>
                                <label th:for="|category_${category.categoryId}|" class="labelCategory"></label>

                                <ul class="list-categories">
                                    <th:block th:each="subCategory : ${category.subCategories}">
                                        <li class="category"><a class="category__link"
                                                                th:href="@{/catalog/__${category.enCategory.toLowerCase()}__/__${subCategory.enCategory.toLowerCase()}__}"
                                                                th:text="${subCategory['__${langCategory}__']}"></a>
                                        </li>
                                    </th:block>
                                </ul>

                            </li>

                            <li class="category" th:if="${#lists.isEmpty(category.subCategories)}">
                                <a class="category__link" href="#"
                                   th:text="${category['__${langCategory}__']}"></a>


                            </li>
                        </th:block>

                    </ul>
                </div>
                <!-- /.catalog-list-categories -->
                <div class="catalog-info">
                    <div class="current-categories">
                        <a href="#" class="current-category">Каталог</a>
                        <a href="#" class="current-category">Бытовая электроника</a>
                        <a href="#" class="current-category">Смартфоны</a>

                    </div>
                    <!-- /.current-categories -->
                    <form class="form-search">
                        <input type="text" class="catalog-search__input" th:attr="placeholder=#{header.catalog.search}">
                        <button class="catalog-search__btn button">
                            <svg class="catalog-search__icon button-icon">
                                <use th:href="@{/img/icons/icons.svg#search}"></use>
                            </svg>
                            <th:block  th:text="#{catalog.button.search}"></th:block>
                        </button>
                    </form>
                    <!-- /.form-search -->
                </div>
                <!-- /.catalog-info -->
            </div>
            <!-- /.catalog-nav -->


            <div class="catalog-list">
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->

            </div>
            <!-- /.catalog-list -->


            <nav class="pagination">
                <div class="pagination-list">
                    <a href="" class="pagination__item">&#8592;</a>
                    <a href="" class="pagination__item pagination__item--active">1</a>
                    <a href="" class="pagination__item">2</a>
                    <a href="" class="pagination__item">3</a>
                    <a href="" class="pagination__item">4</a>
                    <a href="" class="pagination__item">5</a>
                    <a href="" class="pagination__item">&#8594;</a>
                </div>
            </nav>
            <!-- /.pagination -->
        </div>
        <!-- /.container -->
    </th:block>
</body>
</html>