@media (min-width: 576px) {
    .profile-wrapper {
        flex-direction: row;
        align-items: stretch;
    }

    .profile-menu {
        width: 200px;
        margin-bottom: 0;
    }

    .profile-section {
        margin-left: 20px;
    }

    .profile-menu__item:last-child {
        border-bottom: 1px solid #e0e0e0;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}