<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/add_product.css}">
    <title>Title</title>
</head>
<body>
Authenticated username:
<div sec:authentication="name"></div>
<form th:action="@{/addProduct.html}" name="productForm" method="post" novalidate>
    <span>name</span>
    <input type="text" name="productName" required><br>
    <div class="message message--error" id="error-productName" th:text="#{enter.product.productName}"></div>
    <span>cost</span>
    <input type="text" name="cost" required><br>
    <div class="message message--error" id="error-cost" th:text="#{enter.product.cost}"></div>
    <span>quantity</span>
    <input type="text" name="quantity" required><br>
    <div class="message message--error" id="error-quantity" th:text="#{enter.product.quantity}"></div>
    <span>description</span>
    <input type="text" name="description" required><br>
    <div class="message message--error" id="error-description" th:text="#{enter.product.description}"></div>


    <select name="mainCategory" th:size="${catalog.getSubCategories().size()}">
        <option th:each="category : ${catalog.subCategories}" th:text="${category.getEnCategory()}"
                th:value="${category.getEnCategory()}"></option>
    </select><br>
    <select name="motherCategory"></select><br>
    <div class="message message--error" id="error-motherCategory" th:text="#{enter.product.motherCategory}"></div>


    <button id="productFormSubmitBtn" type="submit">ok</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script th:src="@{js/addProduct.js}"></script>
</body>
</html>