<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main_media.css">
    <link rel="stylesheet" href="../css/header-footer.css">
    <link rel="stylesheet" href="../css/header-footer_media.css">
    <link rel="stylesheet" href="../css/catalog.css">
    <link rel="stylesheet" href="../css/catalog_media.css">
    <title>Shopik - каталог</title>
</head>
<body>


    <header>
        <div class="header">
            <div class="container header-wrapper">
                <a href="#">
                    <img class="logo" src="../img/icons/logo.svg" alt="Shopik">
                </a>
                <div class="header-search">
                    <form action="">
                        <input class="header-search__field" type="text" placeholder="Поиск по каталогу...">
                        <button class="header-search__btn" type="submit">
                            <svg class="header-search__icon">
                                <use xlink:href="../img/icons/icons.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                </div>
                <nav class="user-menu">
                    <a class="user-menu__item" href="#">Профиль</a>
                    <a class="user-menu__item" href="#">Список желаемого</a>
                    <a class="user-menu__item" href="#">Админ-панель</a>
                    <a class="user-menu__item" href="#">Выход</a>
                    <a class="user-menu__cart" href="#">
                        <img class="cart-icon" src="../img/icons/shopping-cart.svg" alt="">
                        Корзина</a>
                </nav>
                <div class="user-menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="container">
                <nav class="nav-menu">
                    <a class="nav-menu__item" href="#">Главная</a>
                    <a class="nav-menu__item nav-menu__item--active" href="#">Каталог</a>
                    <a class="nav-menu__item" href="#">Новости</a>
                    <a class="nav-menu__item" href="#">Скидки</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">

        <div class="container">

            <div class="catalog-nav">
                <div class="catalog-list-categories">
                    <input id="checkboxBtn" class="checkboxBtn" type="checkbox">
                    <label for="checkboxBtn" class="labelBtn"></label>
                    <a class="button catalog__btn" th:text="#{catalog.button.catalog}">
                        <svg class="catalog-icon button-icon">
                            <use th:href="@{/img/icons/icons.svg#arrow-down}"></use>
                        </svg>
                        </a>

                    <ul th:with="langCategory=(__${#locale}__=='en'?'en':'ru') + 'Category'" class="list-categories">

                        <th:block th:each="category : ${catalog.subCategories}">

                            <li class="category" th:unless="${#lists.isEmpty(category.subCategories)}">
                                <input th:id="|category_${category.categoryId}|" class="checkboxCategory"
                                       type="checkbox">
                                <a class="category__link category__link--main"
                                   th:href="@{/catalog/__${category.enCategory.toLowerCase()}__}"
                                   th:text="${category['__${langCategory}__']}"></a>
                                <label th:for="|category_${category.categoryId}|" class="labelCategory"></label>

                                <ul class="list-categories">
                                    <th:block th:each="subCategory : ${category.subCategories}">
                                        <li class="category"><a class="category__link"
                                                                th:href="@{/catalog/__${category.enCategory.toLowerCase()}__/__${subCategory.enCategory.toLowerCase()}__}"
                                                                th:text="${subCategory['__${langCategory}__']}"></a>
                                        </li>
                                    </th:block>
                                </ul>

                            </li>

                            <li class="category" th:if="${#lists.isEmpty(category.subCategories)}">
                                <a class="category__link" href="#"
                                   th:text="${category['__${langCategory}__']}"></a>


                            </li>
                        </th:block>

                    </ul>
                </div>
                <!-- /.catalog-list-categories -->
                <div class="catalog-info">
                    <div class="current-categories">
                        <a href="#" class="current-category">Каталог</a>
                        <a href="#" class="current-category">Бытовая электроника</a>
                        <a href="#" class="current-category">Смартфоны</a>

                    </div>
                    <!-- /.current-categories -->
                    <form class="form-search">
                        <input type="text" class="catalog-search__input" placeholder="Поиск по каталогу...">
                        <button class="catalog-search__btn button">
                            <svg class="catalog-search__icon button-icon">
                                <use xlink:href="../img/icons/icons.svg#search"></use>
                            </svg>
                            Поиск
                        </button>
                    </form>
                    <!-- /.form-search -->
                </div>
                <!-- /.catalog-info -->
            </div>
            <!-- /.catalog-nav -->


            <div class="catalog-list">
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->
                <div class="product-wrapper">
                    <div class="product">
                        <div class="sale-ribbon-wrapper">
                            <div class="sale-ribbon">sale</div>
                        </div>
                        <a href="#" class="product-info">
                            <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                     alt="Samsung Galaxy S8+"
                                                                     class="product__image">
                            </div>
                            <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+</div>
                            <div class="product__quantity">Количество: 100 шт.</div>
                            <a href="/user" class="product__seller">Продавец: Samsung</a>
                        </a>
                        <div class="product-option">
                            <div class="product__cost">
                                <span class="cost">&#x20bd; 37490</span>
                                <span class="cost--sale">&#x20bd; 47490</span>
                            </div>
                            <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                    alt="add" class="icon"></button>
                            <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                               alt="add" class="icon"></button>
                        </div>
                    </div>
                    <!-- /.product -->
                </div>
                <!-- /.product-wrapper -->

            </div>
            <!-- /.catalog-list -->


            <nav class="pagination">
                <div class="pagination-list">
                    <a href="" class="pagination__item">&#8592;</a>
                    <a href="" class="pagination__item pagination__item--active">1</a>
                    <a href="" class="pagination__item">2</a>
                    <a href="" class="pagination__item">3</a>
                    <a href="" class="pagination__item">4</a>
                    <a href="" class="pagination__item">5</a>
                    <a href="" class="pagination__item">&#8594;</a>
                </div>
            </nav>
            <!-- /.pagination -->
        </div>
        <!-- /.container -->
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-blocks">
                <div class="footer-block">
                    <div class="footer-block__title">Контакты</div>
                    <a class="footer-block__item" href=""><img class="footer-icon" src="../img/icons/geolocation.svg"
                                                               alt="Адресс:">г. Саратов</a>
                    <a class="footer-block__item" href=""><img class="footer-icon" src="../img/icons/phone.svg"
                                                               alt="Тел.:">+7 (999) 123 4567</a>
                    <a class="footer-block__item" href="mailto:mail@shopik.com"><img class="footer-icon"
                                                                                     src="../img/icons/email.svg"
                                                                                     alt="email:">mail@shopik.com</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <div class="footer-block__title">Shopik</div>
                    <a class="footer-block__item" href="">Главная</a>
                    <a class="footer-block__item" href="">Новости</a>
                    <a class="footer-block__item" href="">Скидки</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <div class="footer-block__title">Помощь</div>
                    <a class="footer-block__item" href="">Помощь</a>
                    <a class="footer-block__item" href="">FAQ</a>
                </div>
                <!-- /.footer-block -->
                <div class="footer-block">
                    <div class="footer-block__title">Профиль</div>
                    <a class="footer-block__item" href="">Профиль</a>
                    <a class="footer-block__item" href="">Список желаемого</a>
                    <a class="footer-block__item" href="">Админ-панель</a>
                    <a class="footer-block__item" href="">Выход</a>
                </div>
                <!-- /.footer-block -->
            </div>
            <!-- /.footer-blocks -->
        </div>
        <!-- /.container -->
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
</body>
</html>