<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/main-layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/index_media.css}">
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="stylesheet" th:href="@{/css/catalog_media.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}"/>
    <link rel="stylesheet" th:href="@{/css/slider.css}"/>
    <title th:text="#{index.title}"></title>
</head>
<body>
<th:block layout:fragment="main">
    <div class="container">
        <div class="main-slider">
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl1.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl2.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl3.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl4.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl5.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl6.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl7.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl8.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl9.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl10.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl11.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl12.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl13.jpg" alt=""></div>
            <div class="main-slider__item"><img class="main-slider__img" src="../img/sl14.jpg" alt=""></div>
        </div>
        <!-- /.main-slider -->

        <div class="block">
            <div id="new" class="block__title">Новинки</div>
            <div class="products-slider">
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.products-slider -->
        </div>

        <div class="block">
            <div id="sales" class="block__title">Скидки</div>
            <div class="products-slider">
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.products-slider -->
        </div>

        <div class="block">
            <div class="block__title">Товары раздела "Бытовая электроника"</div>
            <div class="products-slider">
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-slider__item">
                    <div class="product-slider-wrapper">
                        <div class="product ">
                            <div class="sale-ribbon-wrapper">
                                <div class="sale-ribbon">sale</div>
                            </div>
                            <a href="#" class="product-info">
                                <div class="product__image-wrapper"><img src="../img/Samsung%20Galaxy%20S8+.jpg"
                                                                         alt="Samsung Galaxy S8+"
                                                                         class="product__image">
                                </div>
                                <div class="product__name" title="Samsung Galaxy S8+">Смартфон Samsung Galaxy S8+
                                </div>
                                <div class="product__quantity">Количество: 100 шт.</div>
                                <a href="/user" class="product__seller">Продавец: Samsung</a>
                            </a>
                            <div class="product-option">
                                <div class="product__cost">
                                    <span class="cost">&#x20bd; 37490</span>
                                    <span class="cost--sale">&#x20bd; 47490</span>
                                </div>
                                <button class="product__wish-list"><img src="../img/icons/wishlist.svg"
                                                                        alt="add" class="icon"></button>
                                <button class="product__cart"><img src="../img/icons/add-to-shopping-cart.svg"
                                                                   alt="add" class="icon"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.products-slider -->
        </div>

        <div class="block">
            <div id="news" class="block__title">Новости</div>
            <div class="news-list">
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news">
                        <div class="news__date">27 апреля 2019</div>
                        <div class="news__title">СКОРО ОТКРЫТИЕ!</div>
                        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Beatae eum fugit ipsam possimus rem.
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.catalog-list -->
        </div>
    </div>
    <!-- /.container -->
</th:block>

<th:block layout:fragment="jsscript">
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</th:block>
</body>
</html>